.ItemList{
    list-style: none;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50%;
  
    .ItemListHeader{
      font-weight: 600;
    }
  
    li{
      border: 1px solid blue;
      justify-content: space-evenly;
      width: 100%;
      display: flex;
      max-width: 480px;
      padding: 15px 0px;
      align-items: center;
  
      input{
        max-width: 100px;
        text-align: center;
      }
  
      form{
        align-items: center;
        display: flex;
      }
  
      span{
        width: 100%;
      }
  
      span:last-child{
        display: flex;
        justify-content: space-evenly;      
      }
    }
  }
  
  @media (max-width: 768px){
    .ItemList{
      width: 100%;
      min-width: none;
    }
  }